
.DataContainer {

  .Blogcontainer {
    display: grid;
    padding: 2rem 4rem;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    .card__container {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      animation: movingdiv;
      position: relative;
      animation-duration: 5s;
      img {
        object-fit: cover;
      }
      @keyframes movingdiv {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .Card_content {
      margin-left: 1rem;
      padding: 1rem;
      .Title {
        font-weight: bold;
      }
      .description {
        font-weight: bold;
      }
    }
    .btn__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .date {
        span {
          font-weight: bold;
        }
      }
      p {
        span {
          font-weight: bold;
        }
      }
    }
    button {
      border: none;
      background-color: tomato;
      color: white;
      padding: 8px 15px;
      border-radius: 5px;
    }
    button:hover {
      background-color: #0f151f;
    }
  }
}
